{% load static %}

<!DOCTYPE html> 
<html lang="ru">
  <head>    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static 'img/fav/favicon.ico' %}" type="image">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/fav/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/fav/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/fav/favicon-16x16.png' %}">
    <meta name="msapplication-TileColor" content="#000">
    <meta name="theme-color" content="#ffffff">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <title>
      {% block title %}
      {% endblock %}
    </title>
  </head>
  <body>       
      {% include 'includes/header.html' %}
    <main>
      <div class="container py-5">
      {% block content %}
        Контент не подвезли :(
      {% endblock %}
      

      <button type="button" class="btn btn-primary" data-toggle="popover" title="Сообщение" data-content="Ура, Bootstrap 4 работает">Поднеси ко мне курсор</button>
      <!-- После подключения jQuery, Popper и Bootstrap JS -->
      <script>
        $(function () {
          $('[data-toggle="popover"]').popover({trigger:'hover'});
        });
      </script>


      </div>
    </main>
      {% include 'includes/footer.html' %} 
  </body>
</html> 