{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<h1>Привет, я Амадей</h1>
<p><span style="font-weight: 400;">Я - начинающий Python-разработчик.</span></p>
<p><span style="font-weight: 400;">Данный сайт я создаю на Django как учебный проект в рамках курса на Яндекс.Практикуме - &laquo;Профессия Python-разработчик (бэкенд)&raquo;.&nbsp;</span><span style="font-weight: 400;">Чуть более подробно о нем на странице &laquo;Технологии&raquo;.</span></p>
<p><span style="font-weight: 400;">О себе: 30 лет, работаю эникейщиком-хелпдескером в крупной не-IT компании.&nbsp;</span><span style="font-weight: 400;">Увлечения: путешествия (главная страсть жизни), кино, чтение, вкусная еда, изучение языков (в т.ч. программирования).</span></p>
<p><span style="font-weight: 400;">Ссылка на мой гитхаб: </span><a href="https://github.com/amozart23"><span style="font-weight: 400;">https://github.com/amozart23</span></a></p>
<p><span style="font-weight: 400;">HTML Academy: </span><a href="https://htmlacademy.ru/profile/mozart23"><span style="font-weight: 400;">https://htmlacademy.ru/profile/mozart23</span></a></p>
<p><span style="font-weight: 400;">Codewars: </span><a href="https://www.codewars.com/users/Mozart23"><span style="font-weight: 400;">https://www.codewars.com/users/Mozart23</span></a></p>
<p><span style="font-weight: 400;">А еще я талантливый копирайтер: </span><a href="https://www.etxt.ru/mozart23.html"><span style="font-weight: 400;">https://www.etxt.ru/mozart23.html</span></a></p>
<p><span style="font-weight: 400;">Мои IT-сертификаты вы можете увидеть чуть ниже (совсем скоро к ним добавится сертификат 9-месячных курсов Яндекс.Практикума и, надеюсь, сертификат IELTS):</span></p>
<p><span style="font-weight: 400;">Серт Letpy</span></p>
<p><span style="font-weight: 400;">Серт SQL Solo Learn</span></p>
<p><span style="font-weight: 400;">Серт HTML Academy</span></p>
{% endblock %} 