{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="row">
  <h1>Что уже умею (регулярно обновляется и дополняется ;))</h1>
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python 3.7
      </li>
      <li class="list-group-item">
        Django 2.2.16
      </li>
      <li class="list-group-item">
        SQLite
      </li>
      <li class="list-group-item">
        HTML/CSS
      </li>
      <li class="list-group-item">
        Bootstrap
      </li>
      <li class="list-group-item">
        Голова (не только в неё ем)
      </li>
    </ul>
  </aside>
  <article class="col-12 col-md-9">
    <p>
      В рамках работы над сайтом с использованием Django были реализованы:</p>
      <ul>
      <li>модели и формы;</li>
<li>система создания и редактирования постов;</li>
<li>приаттачивание картинок;</li>
<li>кэширование главной страницы;</li>
<li>система подписок (избранные авторы);</li>
<li>комментарии к постам;</li>
<li>адаптивное главное меню (на узких экранах скрыто и разворачивается по нажатию на кнопку-гамбургер);</li>
<li>авторизация, изменение и восстановление пароля (прикручен нативный функционал Django.auth.users с изменением дефолтных шаблонов на свои).</li>
      </ul>
<p>Что идет сейчас: мелкие доработки функционала, подключение почтового сервера, планируется более продвинутая верстка используемых HTML-шаблонов.</p>




    </p>
  </article>
</div>
{% endblock %} 